
body{
    margin: 0;
    padding: 0;
	font-family: Arial, sans-serif;
    background-color: #f2f2f2;

}

/*Header*/
header {
    background-color: #0055aa;
    color: white;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo img {
    height: 50px;
}

.navbar {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.navbar li {
    font-size: 16px;
}

.navbar a {
    text-decoration: none;
    color: white;
}
.navbar li a:hover{
	
	
	background-color : #555;
	color:white;
}
.profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


.advertisement {
	
    width: 90%;
    overflow: hidden;
    height: 300px; /* Set the desired height */
	margin:auto;
	margin-top:20px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	
}

.advertisement img {
	
    width: 100%;
    height: 100%;
    object-fit: cover;
	border-radius:10px;	
}

/*horizontal line*/
.he1{
	 width:90%;
	 margin:0 auto;
}

/*Image*/
.hero {
    position: relative;
    width: auto;
    height: auto; /* Set the desired height for your hero section */
    overflow: hidden; /* Hide any overflow content from the image */
	text-align: center; /* Center align the contents horizontally */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Stack elements vertically */
	margin-bottom:20px;
 }

.hero img {
    width: auto;
    height: auto;
	display:cover;
 }

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #2F4F4F;
    font-size: 24px;
 }
 
 
/*another content*/
.text {
	
    display: flex; /* Use flexbox to create a horizontal layout */
    align-items: center; /* Vertically center content in the section */
    justify-content: space-between; /* Add space between left and right content */
	margin-left:10px;
	margin-right:10px;
	margin-bottom:20px;
}
.pdiv{
	
	margin:10px 10px;
	display:flex;/*horizontal layout*/
}
.text h2 {
    
	margin:10px 10px;
	font-size:90%;
	font-family:"Helvetica,sans-serif";
}
#p1{
	
	margin-left:70px;
}

.image-container{
	display: flex;
    align-items: flex-end; /* Align images to the right side */
}

.image-container a {
    margin-top: 15px; /* Add vertical spacing between the images and text */
	display:block;
	margin-left: 10px; /* Add some spacing between links and text */
}
  
.image-container img{
	width:150px;
}

#img1{
	width:150px;
}


/*Footer*/
footer {
    background-color: #0055aa;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.social-media a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
	display : inline-block;
}

.social-media a:hover{
	
	text-decoration:underline;
	
}

.footer-links {
    
	display: inline-block;
}


.footer-links a {
    color: white;
    text-decoration: none;
	margin: 0 10px;
}

.footer-links a:hover{
	
	text-decoration:underline;
}

.footer-links span{
	
	margin : 0 5px
}

